/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { Gr4vyCore } from "../core.js";
import { encodeJSON as encodeJSON$, encodeSimple as encodeSimple$ } from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
    ConnectionError,
    InvalidRequestError,
    RequestAbortedError,
    RequestTimeoutError,
    UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { SDKError } from "../models/errors/sdkerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { Result } from "../types/fp.js";

/**
 * Create a session for a payment service
 *
 * @remarks
 * Creates a session for a payment service. This endpoint directly
 * passes the request through to the relevant payment service for processing,
 * and so the schema will differ based on the service used.
 *
 * If the downstream service returns an error, this API will return a successful response
 * with the status code in the response.
 */
export async function paymentServiceDefinitionsCreatePaymentServiceDefinitionSession(
    client$: Gr4vyCore,
    paymentServiceDefinitionId: string,
    requestBody?: { [k: string]: any } | undefined,
    options?: RequestOptions
): Promise<
    Result<
        components.PaymentServiceSession,
        | errors.Error400BadRequest
        | errors.Error401Unauthorized
        | errors.Error404NotFound
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >
> {
    const input$: operations.CreatePaymentServiceDefinitionSessionRequest = {
        paymentServiceDefinitionId: paymentServiceDefinitionId,
        requestBody: requestBody,
    };

    const parsed$ = schemas$.safeParse(
        input$,
        (value$) =>
            operations.CreatePaymentServiceDefinitionSessionRequest$outboundSchema.parse(value$),
        "Input validation failed"
    );
    if (!parsed$.ok) {
        return parsed$;
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON$("body", payload$.RequestBody, { explode: true });

    const pathParams$ = {
        payment_service_definition_id: encodeSimple$(
            "payment_service_definition_id",
            payload$.payment_service_definition_id,
            { explode: false, charEncoding: "percent" }
        ),
    };

    const path$ = pathToFunc(
        "/payment-service-definitions/{payment_service_definition_id}/sessions"
    )(pathParams$);

    const headers$ = new Headers({
        "Content-Type": "application/json",
        Accept: "application/json",
    });

    const bearerAuth$ = await extractSecurity(client$.options$.bearerAuth);
    const security$ = bearerAuth$ == null ? {} : { bearerAuth: bearerAuth$ };
    const context = {
        operationID: "create-payment-service-definition-session",
        oAuth2Scopes: [],
        securitySource: client$.options$.bearerAuth,
    };
    const securitySettings$ = resolveGlobalSecurity(security$);

    const requestRes = client$.createRequest$(
        context,
        {
            security: securitySettings$,
            method: "POST",
            path: path$,
            headers: headers$,
            body: body$,
            timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
        },
        options
    );
    if (!requestRes.ok) {
        return requestRes;
    }
    const request$ = requestRes.value;

    const doResult = await client$.do$(request$, {
        context,
        errorCodes: ["400", "401", "404", "4XX", "5XX"],
        retryConfig: options?.retries || client$.options$.retryConfig,
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    });
    if (!doResult.ok) {
        return doResult;
    }
    const response = doResult.value;

    const responseFields$ = {
        HttpMeta: { Response: response, Request: request$ },
    };

    const [result$] = await m$.match<
        components.PaymentServiceSession,
        | errors.Error400BadRequest
        | errors.Error401Unauthorized
        | errors.Error404NotFound
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >(
        m$.json(200, components.PaymentServiceSession$inboundSchema),
        m$.jsonErr(400, errors.Error400BadRequest$inboundSchema),
        m$.jsonErr(401, errors.Error401Unauthorized$inboundSchema),
        m$.jsonErr(404, errors.Error404NotFound$inboundSchema),
        m$.fail(["4XX", "5XX"])
    )(response, { extraFields: responseFields$ });
    if (!result$.ok) {
        return result$;
    }

    return result$;
}
